<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmrhyq.gradle.data.dao.TestMapper">

    <select id="querySentenceInfo" resultType="com.cmrhyq.gradle.data.entity.Sentence">
        SELECT s.id             as id,
               s.user_id        as userId,
               s.title_sentence as titleSentence,
               c.color          as color,
               c.color_en       as colorEn,
               s.gmt_create     as gmtCreate,
               s.gmt_modified   as gmtModified
        FROM store.sentence as s,
             store.color as c
        where s.color_id = c.id
        ORDER BY RAND()
        LIMIT 1
    </select>
</mapper>